/* Reset default browser spacing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: auto;
  overflow-x: hidden;
  
}

#root::-webkit-scrollbar {
  display: none;
}

main.page-background {
  min-height: 100vh; 
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("./assets/bgimg.png");
  background-size: cover;
  background-position: center;
  padding-top: 80px; 
}
